<!doctype html>
<html>
  <head>
    <title>Daily Press Review</title>
    <link rel="icon" type="image/png" href="./daily-press-review.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  </head>
  <body>
    <div id='app'>
      <app></app>
    </div>
  </body>
</html>