@import  'global.scss';

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

$color-black: #1e1e1e;
$color-black-light: #252526;
$color-beige: #d4d4d4;
$color-orange: #ce9178;
$color-red: #CF4647;
$color-green: #b4cea8;
$color-greener: #2aa19b;
$color-yellow: #dab988;
$color-blue: #569CD3;
