@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

$color-black: #1e1e1e;
$color-black-light: #252526;
$color-beige: #d4d4d4;
$color-beige-light: #f1f1f1;
$color-orange: #ce9178;
$color-red: #CF4647;
$color-green: #b4cea8;
$color-greenish: #8BAF98;
$color-greener: #2aa19b;
$color-even-greener: darken($color-greener, 10%);
$color-hyperlink: darken($color-greener, 20%);
$color-yellow: #dab988;
$color-blue: #569CD3;

$font-size-base: 1.1em;
$font-size-date: 0.9em;
$line-height-base: 1.4em;
$font-size-menu-item: 1em;
$line-height-menu-item: 1.4em;

$separation-1: 8px;
$separation-2: calc(2 * #{$separation-1});

$font-family: 'Gabriela', 'Open Sans', sans-serif;

.clickable {
  color: $color-hyperlink;
  cursor: pointer;
  font-size: $font-size-base;
  line-height: $line-height-base;

  &[target="_blank"] {
    text-decoration: underline dotted $color-hyperlink;
  }

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $color-hyperlink;
  }
}

button {
  @extend .clickable;
}
