.status-list {
  display: flex;
  justify-content: center;
  margin: auto;
  width: calc(100% - 32px);

  &__list {
    display: none;
    flex-direction: column;
    margin: auto;

    &--full-width {
      display: flex;

      > .status-list__item {
        max-width: 500px;
      }
    }
  }

  > div {
    @extend .status-list__list;
    display: flex;
    transition: 1s;
  }

  &__item {
    align-items: center;
    background-color: $color-beige-light;
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-bottom: 16px;
    min-height: 50px;
    padding: 8px;

    &:first-child {
      margin-top: calc(6 * 16px);
    }
  }
}