.empty-list {
  align-self: center;
  background-color: $color-beige-light;
  border: 1px solid $color-greener;
  color: $color-even-greener;
  display: flex;
  flex-direction: column;
  font-family: roboto;
  margin: auto;
  margin-top: 50vh;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;  
}

.item-none {
  display: flex;
  justify-content: center;
  width: 100%
}

.status-list {
  display: flex;
  justify-content: center;
  margin: auto;

  &__list {
    display: none;
    flex-direction: column;
    margin: auto;

    &--full-width {
      display: flex;

      &[data-key] {
        &.status-list__empty-list {
          @extend .empty-list;
        }
        
        .status-list__list__item-none {
          @extend .item-none;
        }
      }

      &[data-key="bucket"] {
        &.status-list__empty-bucket {
          @extend .empty-list;
        }
        
        .status-list__list__item-none {
          @extend .item-none;
        }
      }

      &[data-key="~bucket"] {
        &.status-list__empty-bucket {
          align-self: center;
          background-color: $color-beige-light;
          border: 1px solid $color-greener;
          color: $color-even-greener;
          display: flex;
          flex-direction: column;
          font-family: roboto;
          margin: auto;
          margin-top: 50vh;
          padding: 10px;
          position: fixed;
          text-align: center;
          width: 100%;
        }
        
        .status-list__list__item-none {
          display: flex;
          justify-content: center;
          width: 100%
        }
      }
    }
  }

  > div {
    @extend .status-list__list;
    display: flex;
    transition: 1s;
  }

  &__item {
    align-items: center;
    background-color: $color-beige-light;
    border-bottom: 1px solid $color-greener;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-bottom: 2px;
    min-height: 50px;
    padding: 8px;

    &:first-child {
      margin-top: calc(72px - 16px);
    }
  }
}