.status-list {
  display: flex;
  justify-content: center;
  margin: auto;

  &__list {
    display: none;
    flex-direction: column;
    margin: auto;

    &--full-width {
      display: flex;
    }
  }

  > div {
    @extend .status-list__list;
    display: flex;
    transition: 1s;
  }

  &__item {
    align-items: center;
    background-color: $color-beige-light;
    border-bottom: 1px solid $color-greener;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin-bottom: 2px;
    min-height: 50px;
    padding: 8px;

    &:first-child {
      margin-top: calc(72px - 16px);
    }
  }
}