@import '../../styles/list.scss';
@import '../../styles/card.scss';

.member-subscription-list {
  @extend .list;

  max-width: 1280px;
  margin: auto;
  margin-top: $menu-height;
  width: auto;

  &__aggregates--invisible {
    visibility: hidden;
  }

  .list {
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: auto;
    }

    &__item {
      @extend .card;
      padding-left: 10px;
      width: $width-card-default;
    }
  }
}

