@import '../../styles/list.scss';
@import '../../styles/card.scss';

.member-subscription-list {
  @extend .list;

  max-width: 1200px;
  margin: auto;
  margin-top: $menu-height;
  width: auto;

  &__url,
  &__url:active,
  &__url:hover,
  &__url:link,
  &__url:visited {
    color: $color-greener;
    cursor: pointer;

    .member-subscription-list__username {
      cursor: pointer;
    }
  }

  &__card {
    align-self: center;
    justify-content: center;
    display: flex;
  }

  .list {
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: auto;
    }

    &__item {
      @extend .card;
      height: 50px;
      padding-left: 10px;
      width: 130px;
    }
  }

  &__username {
    cursor: default;
  }
}

