.intro {
  display: flex;
  flex-direction: row;
  background-color: $background-color;
  margin-bottom: $separation-2;
  padding: 0 $separation-2;
  position: sticky;
  top: 0;

  &__container {
    background: $background-color;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-self: center;
    margin: auto;
    @extend .responsive-content;
  }

  &__logo {
    display: flex;
    width: 100px;

    &-container {
      display: flex;
      align-items: center;
      margin-top: $separation-2;
      margin-bottom: $separation-2;
    }
  }

  &__description {

    &-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%
    }

    margin-left: $separation-2;
    line-height: 1.5rem;
    font-style: normal;
    font-size: 1em;
    font-family: $font-family;
    text-align: left;
  }

  &__affiliated-websites,
  &__affiliated-websites-fieldset {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: $separation-1;
    width: 80%;

    @media (max-width: $width-medium-device) {
      height: 50px
    }
  }

  &__affiliated-websites-fieldset {
    align-self: center;
  }

  &__affiliated-websites-label {
    display: inline-flex;
    cursor: pointer;
    flex-wrap: wrap;

    &-prefix {
      line-height: 1.5rem;
      height: 1.5rem;
      margin-left: $separation-1;

      @media (max-width: $width-medium-device) {
        margin: auto;
      }
    }
  }

  &__affiliated-websites-option {
    cursor: pointer;
    padding: $separation-1;
  }

  &__affiliated-websites-selector {
    background-color: $color-white;
    border: 1px $color-black dotted;
    display: inline-flex;
    line-height: 1.5rem;
    margin-left: $separation-1;
    height: 1.5rem;
    cursor: pointer;

    @media (max-width: $width-medium-device) {
      margin: auto;
      max-width: 200px;
    }
  }

  &__project {
    @extend .clickable;
    font-size: 1em;
  }

  &__external-link {
    @extend .clickable;
    display: inline-flex;
    margin-top: $separation-1;
    visibility: hidden;
    margin-left: $separation-1;
    margin-top: $separation-1;
    font-size: 1em;
    line-height: normal;

    &--visible {
      visibility: visible;
    }
  }

  &__visiting {
    display: inline-flex;
    font-size: 1em;
    margin-left: $separation-1;
    margin-top: $separation-1;
  }
}
