@import '../../styles/list.scss';

.aggregate-list {
  @extend .list;

  .list__page-size {
    border: 1px dotted $color-greener;
    padding: 5px 0;

    &-label {
      align-self: center;
      color: $color-greener;
      display: inline-flex;
      line-height: 1em;
      width: 140px;
    }

    input {
      height: calc(100% - 10px);
      margin-left: 8px;
      padding-left: 8px;
      margin-right: 4px;
      text-align: right;
      width: 75px;

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
    }
  }

  .list__search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;

    .list__search-row {
      display: flex;
      flex-direction: row;
      justify-items: center;
      width: 100%;
    }

    .list__label {
      line-height: 1.5em;
      align-self: center;
    }

    .list__search-column {
      display: flex;
      flex-direction: column;
      margin-right: 8px;
      margin-top: 8px;
    }

    .list__button-search {
      justify-content: center;
      width: 100px;
    }

    [for="collect-statuses-for-selected-aggregates"],
    [for="removing-selected-aggregates"],
    [for="selecting-all-aggregates"],
    [for="selecting-aggregates-having-members-and-statuses"],
    [for="selecting-aggregates-without-statuses"],
    [for="selecting-aggregates-without-statuses-but-members"],
    [for="selecting-aggregates-without-members"] {
      border-bottom: 2px solid $color-red;
      color: $color-greener;
      cursor: pointer;
      display: flex;
      font-family: sans-serif;
      font-size: 0.8em;
      margin-top: 8px;

      [name="collect-statuses-for-selected-aggregates"],
      [name="removing-selected-aggregates"],
      [name="selecting-all-aggregates"],
      [name="selecting-aggregates-having-members-and-statuses"],
      [name="selecting-aggregates-without-statuses-but-members"],
      [name="selecting-aggregates-without-statuses"],
      [name="selecting-aggregates-without-members"] {
        cursor: pointer;
        display: flex;
      }
    }

    [for="removing-selected-aggregates"] {
      align-self: flex-end;
      border: 0;
      display: flex;
      margin-top: 0;
      width: 100%;

      [name="removing-selected-aggregates"] {
        border: none;
        background-color: transparent;
        color: $color-red;
        padding: 8px;
      }
    }

    [for="reset-total-statuses-for-selected-aggregates"],
    [for="collect-statuses-for-selected-aggregates"] {
      align-self: flex-end;
      border: 0;
      display: flex;
      margin-top: 0;
      width: 100%;

      [name="reset-total-statuses-for-selected-aggregates"],
      [name="collect-statuses-for-selected-aggregates"] {
        border: none;
        background-color: transparent;
        color: $color-greener;
        padding: 8px;
      }
    }

    [for="selecting-all-aggregates"] {
      border-bottom: 2px solid transparent;
    }

    [for="selecting-aggregates-without-statuses"] {
      border-bottom: 2px solid $color-orange;
    }

    [for="selecting-aggregates-having-members-and-statuses"] {
      border-bottom: 2px solid $color-greener;
    }

    [for="selecting-aggregates-without-statuses-but-members"] {
      border-bottom: 2px dotted $color-orange;
    }
  }

  &__button-reset-total-statuses-for-selected-aggregates,
  &__button-collect-statuses-for-selected-aggregates,
  &__button-remove-aggregates,
  &__button-sort-by-priority,
  &__button-switch-to-grid-view {
    align-self: center;
    color: $color-greener;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    line-height: 75px;
    margin-right: 8px;
  }

  &__button-remove-aggregates {
    color: $color-red;
  }

  /deep/ > .list__items--grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    padding: 0;

    .list__item {
      border: 2px solid $color-greener;
      border-right: 10px solid transparent;
      font-size: 1em;
      cursor: default;
      list-style-type: none;
      justify-content: flex-start;
      line-height: normal;
      margin-left: 4px;
      margin-top: 4px;
      height: auto;
      width: 250px;

      .aggregate {
        border-right: 10px solid transparent;

        &--is-selected {
          border-right: 10px solid $color-even-greener;

          .aggregate__buttons {
            .aggregate__button-edit-name,
            .aggregate__button-validate-name-edition {
              color: white;

              &:hover {
                color: black;
              }
            }
          }

          .aggregate__button-list-members {
            color: white;

            &:hover {
              color: black;
            }
          }
        }
      }
    }

    .aggregate-list__aggregate {
      &--no-status {
        border-width: 2px;
        border-color: $color-orange;
        border-right-width: 10px;
        border-right-color: transparent;

        .aggregate--is-selected {
          background-color: transparent;
          color: $color-even-greener;

          &.aggregate {
            border-right: 10px solid $color-orange;
          }

          .aggregate {
            &__buttons {
              .aggregate__button-edit-name,
              .aggregate__button-validate-name-edition {
                color: $color-greener;

                &:hover {
                  color: $color-even-greener;
                }
              }
            }

            &__button-list-members {
              color: $color-greener;

              &:hover {
                color: $color-even-greener;
              }
            }

            &__name {
              color: $color-even-greener;
            }

            &__label-select-aggregate {
              &:hover {
                color: $color-even-greener;
              }
            }

            &__list-anchor {
              &:active,
              &:link,
              &:visited {
                .aggregate__list-twitter-icon {
                  color: $color-greener;
                }
              }

              &:hover {
                .aggregate__list-twitter-icon {
                  color: $color-even-greener;
                }
              }
            }
          }
        }
      }

      &--no-member {
        border-width: 2px;
        border-color: $color-red;
        border-right-width: 10px;
        border-right-color: transparent;

        .aggregate--is-selected {
          background-color: transparent;
          color: $color-even-greener;

          &.aggregate {
            border-right: 10px solid $color-red;
          }

          .aggregate {
            &__buttons {
              .aggregate__button-edit-name,
              .aggregate__button-validate-name-edition {
                color: $color-greener;

                &:hover {
                  color: $color-even-greener;
                }
              }
            }

            &__button-list-members {
              color: $color-greener;

              &:hover {
                color: $color-even-greener;
              }
            }

            &__name {
              color: $color-even-greener;
            }

            &__label-select-aggregate {
              &:hover {
                color: $color-even-greener;
              }
            }

            &__list-anchor {
              &:active,
              &:link,
              &:visited {
                .aggregate__list-twitter-icon {
                  color: $color-greener;
                }
              }

              &:hover {
                .aggregate__list-twitter-icon {
                  color: $color-even-greener;
                }
              }
            }
          }
        }
      }
    }

    .list__button {
      display: none;
    }

    .aggregate {
      height: auto;
    }
  }
}
