// @see https://robots.thoughtbot.com/controlling-color-with-sass-color-functions#darken-amp-lighten
$color-double-greener: darken($color-greener, 10%);

.action-menu {
  align-items: center; 
  border-bottom: none;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  left: -1px;
  position: fixed;
  background-color: #f1f1f1;
  min-height: calc(3 * 16px + 8px);
  line-height: calc(3 * 16px + 8px);
  z-index: 1;
  top: -1px;
  width: calc(100% + 2px);

  &__container {
    display: none;
    flex-wrap: wrap;
    max-height: 350px;
    padding: 0 16px;
    width: 100%;

    &--is-visible {
      display: flex;
      overflow-y: scroll;
    }
  }

  &__get-statuses {
    @extend .clickable;

    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: $font-size-menu-item;
    line-height: $line-height-menu-item;
    margin-right: 8px;
    margin-bottom: 5px;
    padding: 8px;
    padding-left: 0;
    padding-right: 0;
    text-transform: capitalize;

    &:hover {
      font-weight: 600;
    }

    &--active {
      border-color: $color-double-greener;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      border-bottom-width: 5px;
      border-bottom-style: solid;
      font-weight: 600;
      margin-bottom: 0px;
      opacity: 1;
    }
  }

  &__button {
    @extend .clickable;

    border-top: 2px solid $color-greener; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 16px;    
    width: 100%;

    &--with-top-border {
      border-top-width: 0; 
    }
  }

  &__action-wrapper {
    flex-direction: column;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .action-menu__logout-button,
    .action-menu__login-button {
      &:first-child {
        border-right-width: 0;
        justify-content: left;
      }
    }

    .action-menu__row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 100%;

      .action-menu__button {
        background-color: transparent;
        border-color: transparent;
        border-top: 1px solid $color-greener;
        display: flex;
        width: 50%;

        &:first-child {
          border-right: 1px solid $color-greener;
        }
      }

      &--full-width {
        .action-menu__button:first-child {
          border-right-width: 0;
          justify-content: flex-end;
          width: 100%;
        }

        .action-menu__lists-button:first-child {
          justify-content: flex-start;
        }
      }
    }
  }

  &__toggle-menu-icon {
    display: flex;
    font-size: 1.5em;
    align-self: center;
    justify-self: center;
  }

  &__refresh-button,
  &__replied-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-shrink: 1;
    justify-content: center; 
    margin-bottom: 5px;
    width: calc(100%);
    padding: 0;

    &:hover {
      color: $color-even-greener;
    }
  }

  &__refresh-icon,
  &__replied-icon {
    display: flex;
    font-size: 1.5em;
    height: 25px; 
  }
}
