.status {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: $font-size-base;
  font-family: roboto, sans-serif;
  width: 100%;

  &__can-be-shared {
    border-color: transparent;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__publication-date {
    cursor: pointer;
    display: flex;
    font-size: $font-size-date;
    padding: 8px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
    justify-content: space-between;

    &:first-child {
      align-items: center;
      margin-top: 0;
    }

    &--media {
      justify-content: center;
    }
  }

  &__avatar {
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    height: 24px;
    margin-right: 8px;
    width: 24px;

    &-container {
      align-items: center;
      background-size: 24px 24px;
      display: flex;
      justify-items: center;
    }
  }

  &__content {
    flex-direction: row;
    justify-content: flex-start;
    max-width: calc(100vw - #{$separation-2});
    padding: $separation-1;
  }

  &__media {
    background-color: $color-black-light;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: calc(100% + 16px);

    &-item {
      cursor: pointer;
    }
  }

  &__publication,
  &__relay {
      padding: $separation-1;
  }

  &__relay {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .status__verb {
      line-height: $line-height-base;
    }
  }

  &__url {
    @extend .clickable;

    display: flex;
    margin-right: 0;

    &:active,
    &:hover,
    &:link,
    &:visited {
      @extend .clickable;
    }

    &:first-child {
      margin-left: 0;
    }

    &--secondary-link {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 320px;
      width: 320px;

      @media (max-width: 321px) {
        display: none;
      }
    }
  }

  &__username {
    @extend .clickable;

    &:active,
    &:hover,
    &:link,
    &:visited {
      @extend .clickable;
    }
  }

  &__text {
    margin-top: $separation-2;
    margin-bottom: 0;
    max-width: calc(100vw - 16px);
    white-space: pre-line;

    /deep/ > span.emoji {
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: baseline;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 1em;
      height: 1em;
      background-size: 1em;
      background-repeat: no-repeat;
      text-indent: -9999px;
      background-position: 50%, 50%;
    }

    /deep/ > span.emoji-sizer {
      line-height: 0.81em;
      font-size: 1em;
      margin: -2px 0;
    }

    /deep/ > span.emoji-outer {
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      height: 1em;
      width: 1em;
    }

    /deep/ > span.emoji-inner {
      display: -moz-inline-box;
      display: inline-block;
      text-indent: -9999px;
      width: 100%;
      height: 100%;
      vertical-align: baseline;
      *vertical-align: auto;
      *zoom: 1;
    }

    /deep/ > img.emoji {
      width: 1em;
      height: 1em;
    }

    @media (max-width: 375px) {
      white-space: normal;
      line-height: 1em;
      max-width: 320px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__vanity-metrics {
    color: $color-black-light;
    display: flex;
    padding: $separation-1;
  }

  &__vanity-metric-icon {
    margin-right: $separation-1;
  }

  &__vanity-metric {
    margin-right: $separation-2;
  }

  &__links {
    padding: $separation-1;
  }

  &__web-intents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: $separation-1;
    margin-top: calc(0 - #{$separation-1});
  }

  &__web-intent {
    @extend .clickable;

    align-items: center;
    background-color: transparent;
    border: none;
    font-family: roboto, sans-serif;
    font-size: $font-size-base;
    display: flex;
    line-height: $line-height-base;
    margin: 16px 16px 0 0;
    padding: 0;
    text-decoration: none;

    span {
      margin-left: 4px;
    }

    &--load-conversation {
      margin-top: 8px;
    }

    &--open-conversation {
      margin-top: 0;
    }

    &--share-url {
      margin-top: 0;
    }

    &--remove-from-bucket {
      text-align: left;
    }
  }

  &__error {
    margin-left: 8px;
  }

  &__conversation {
    align-items: center;

    &--has-error {
      .status__web-intent--load-conversation,
      .status__web-intent--open-conversation {
        color: darken($color-beige, 40%);
      }

      .status__error {
        margin-left: 8px;
        color: darken($color-beige, 50%);
      }
    }
  }
}
