.status {
  display: flex;
  flex-direction: column;
  font-size: $font-size-base;
  font-family: roboto, sans-serif;
  width: 100%;

  &__publication-date {
    display: flex;
    font-size: $font-size-date;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
    justify-content: space-between;

    &:first-child {
      margin-top: 0;
    }
  }

  &__avatar {
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    height: 24px;
    margin-right: 8px;
    width: 24px;

    &-container {
      align-items: center;
      background-size: 24px 24px;
      display: flex;
      justify-items: center;
    }
  }

  &__content {
    flex-direction: row;
    justify-content: flex-start;
  }

  &__media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    &-item {
      cursor: pointer;
    }
  }

  &__relay {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .status__verb {
      line-height: $line-height-base;
    }
  }

  &__url {
    @extend .clickable;

    display: flex;
    margin-right: 8px;

    &:active,
    &:hover,
    &:link,
    &:visited {
      @extend .clickable;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__username {
    @extend .clickable;

    &:active,
    &:hover,
    &:link,
    &:visited {
      @extend .clickable;
    }
  }

  &__text {
    display: flex;
    margin-top: $separation-2;
    white-space: pre-wrap;
  }

  &__vanity-metrics {
    color: $color-black-light;
    display: flex;
    margin-top: $separation-1;
  }

  &__vanity-metric-icon {
    margin-right: $separation-1;
  }

  &__vanity-metric {
    margin-right: $separation-2;
  }

  &__web-intent {
    @extend .clickable;

    align-items: center;
    background-color: transparent;
    border: none;
    font-family: roboto, sans-serif;
    font-size: $font-size-base;
    display: flex;
    line-height: $line-height-base;
    margin: 16px 16px 0 0;
    padding: 0;
    text-decoration: none;

    span {
      margin-left: 4px;
    }

    &--open-conversation {
      margin-top: 0;
    }
  }
}
