.status {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-family: roboto;

  &__publication-date {
    font-size: 12;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__avatar {
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    height: 24px;
    margin-right: 8px;
    width: 24px;

    &-container {
      align-items: center;
      background-size: 24px 24px;
      display: flex;
      justify-items: center;
    }
  }

  &__url {
    @extend .clickable;

    display: flex;
    margin-right: 8px;

    &:active,
    &:hover,
    &:link,
    &:visited {
      @extend .clickable;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__username {
    @extend .clickable;

    &:active,
    &:hover,
    &:link,
    &:visited {
      @extend .clickable;
    }
  }

  &__text {
    display: flex;
    margin-top: 16px;
    white-space: pre-wrap;
  }

  &__web-intent {
    @extend .clickable;

    background-color: transparent;
    border: none;
    font-family: roboto;
    font-size: 14px;
    display: flex;
    flex: space-between;
    line-height: 14px;
    margin: 16px 16px 0 0;
    padding: 0;
    text-decoration: none;

    span {
      margin-left: 4px;
    }
  }
}