.member {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  &__username {
    margin-right: 1em;
  }

  &__column {
    display: flex;
    flex-wrap: wrap;

    &:first-child {
      width: 200px;
    }

    &:last-child {
      padding-top: 0;
      width: calc(100% - 200px);
    }
  }

  &__row {
    display: flex;
    justify-content: left;
    width: 100%
  }

  &__total-statuses {
    line-height: 1em;
    font-size: 0.8em;
  }

  .member__button-navigate-to-twitter {
    color: $color-greener;
    justify-content: center;

    &:link,
    &:active,
    &:hover,
    &:visited {
      color: $color-greener;
    }

    &-wrapper {
      margin-bottom: 8px;
      width: 100%;
    }
  }

  /deep/ .member__button-navigate-to-twitter-icon {
    font-size: 1.3em;
  }

  .member__button-unlock-aggregate,
  .member__button-collect-status {
    color: $color-greener;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;

    &:hover {
      color: $color-even-greener;
    }
  }

  .member__button-unlock-aggregate--invisible {
    visibility: hidden;
  }
}
