
.authenticator {
  flex-direction: row;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 8px;

  &__avatar {
    &-box {
      display: flex;
      height: 75px;
      justify-content: center;
      flex-direction: column;
    }

    border: 1px dotted $color-greener;
    display: flex;
    margin-left: 8px;
    line-height: 75px;
  }

  &__button {
    background-color: transparent;
    border-color: transparent;
    border-top: 1px solid $color-greener;
    display: flex;
    cursor: pointer;
    font-size: 1.3em;
  }

  &__logout-button,
  &__login-button {
    border-top: none;

    &:first-child {
      border-right-width: 0;
      height: 75px;
      justify-content: flex-end;
    }
  }

  &--full-width {
    .authenticator__button:first-child {
      border-right-width: 0;
      justify-content: flex-end;
      width: 100%;
    }
  }
}
