@import '../../styles/list.scss';

.member-list {
  @extend .list;
  display: flex;
  text-align: center;

  /deep/ > .list__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .list__item {
      border-top: 2px solid $color-greener;
      border-left: 2px solid $color-greener;
      border-bottom: 2px solid $color-greener;
      flex-wrap: wrap;
      height: 100px;
      justify-content: left;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-top: 0.5em;
      margin-bottom: 0.5em;
      margin-right: 0.5em;
      width: 300px;
    }
  }

  .member-list__selectors {
    color: $color-even-greener;

    /deep/ .toggler {
      width: 100%;
    }
  }
}
