@import '../../styles/list.scss';

.member-list {
  @extend .list;

  .member-list__total-statuses {
    margin-left: 8px;
  }

  .member-list__button-collect-status,
  .member-list__button-unlock-aggregate {
    height: 75px;
    margin-left: 8px;
  }

  .member-list__button-navigate-to-twitter {
    margin-right: 8px;
    color: $color-greener;

    &:link,
    &:active,
    &:hover,
    &:visited {
      color: $color-greener;
    }
  }
}
